.fHotel{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.fHotelItem{
    flex: 1;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.fHotelImage{
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.fHotelName{
    color: #333;
     font-weight: bold;
}
.fHotelCity{
    font-weight: 300;
}
.fHotelPrice{
    font-weight: 500;
}
.fHotelRating>button{
    background-color: #003580;
    color: white;
    border: none;
    padding: 3px;
    margin-right: 10px;
    font-weight: bold;
}
.fHotelRating>span{
    font-size: 14px;
}